.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ==================================== */

.items {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	margin-bottom: 8px;

	border: 1px solid #333;
	border-radius: 8px;
	padding: 24px 20px;
}

form {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	width: 100%;
}

input,
textarea,
select {
	padding: 8px;

	margin: 12px 0px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;

	box-sizing: border-box;
}

textarea {
	height: 100px;
	max-height: 100px;
	min-height: 100px;
}

button {
	padding: 4px 8px;
}

.items h3 {
	margin: 4px;
}

section {
	margin: 8px;
}
section h2 {
	text-align: start;
}

